# Server
PORT=5000
NODE_ENV=production

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=chargebyte_user
DB_PASSWORD=your_secure_password_here
DB_NAME=chargebyte_db

# JWT
JWT_SECRET=your_jwt_secret_min_32_chars_here
JWT_EXPIRES_IN=24h
JWT_REFRESH_SECRET=your_refresh_secret_min_32_chars_here
JWT_REFRESH_EXPIRES_IN=7d

# CORS
CORS_ORIGIN=https://your-frontend-domain.lovable.app

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100

MPESA_SHORTCODE=4009607
MPESA_SHORTCODE=6a84487c45d0959dc4dfc479a38d732be237b2975d30aa9ec955dafafa7368b4
MPESA_INITIATOR_NAME=ChargebyteTransfer
MPESA_SECURITY_CREDENTIAL=aJ7pleDXkaHMyx7jynuRlqhBfuJlWWmQP9mJnH/ce18BRHG+9Dy/9s8dUEU4OlkZrNyqOYnByPgsHry7b6ndWX63PYO+El64n7ui5x+0v5cMV0l+URSXyU5R09vAwlgW2aCewuE3ml/AWdBVWFPIOoODlXXoV4nkV/DWF+yCiF2VX1MJuD3oweQrj6Qb+vAEctx6Y4W9LHMojCdFuhtu8ZD9eBL6HlumeTgmQ+/uWPl1r5D9WOKGUlm2SusgpzWT281U1aqu4Vr7c3hGBcALIHw6k9MCleLPuq/SOceO7RHdvLvkFzMbRTPmwewSbPxA07wjzxM7drN7PltrU5dMgA==
MPESA_CONSUMER_KEY=XL3W82N8PBppF64eAg3DVi08bOknDRj1ATX7U51vAr4UgPqb
MPESA_CONSUMER_SECRET=V2EAS3tGScwRuKTAaAlmYMeeETr7GzCA5nHJGOUDT5Du2JEKxsa1SbsxGFSHIGbs
MPESA_ENVIRONMENT=production